html{
  text-align: center;
}

.nav-bar{
  padding: 0.5em;
  background-color: black;
  font-size: 1.2em;

}
.nav-bar a{
  padding: 0.5em;
  display: inline-block;
}
body{
  width: 100%;
}
.col-sm-6{
  height: 35em;
}
#landing-right{
  background-image: url("../images/assets/backgrounds/pizza1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#intro{
  position: relative;
  top: 40px;
  text-align: justify;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }